body {
    background-color: rgb(52, 58, 64);
}

.school-logo {
    width: 80%;
    height: 80%;
}

.school-div {
    text-align: center;
    margin: auto;
}

header {
    position: fixed;
    z-index: 1;
    width: 100vw;
}

nav {
    position: fixed;
    height: 10vh;
}

.logo {
    height: 10vh;
}

.jumbotron {
    margin-top: 10vh;
    color: white;
    background-image: url("../img/portfolio_banner.jpg");
    background-size: 100%;
    height: 90vh;
}

.aboutMe { 
    color: snow;
    padding: 10vh 0vw;
}

#projects {
    padding: 10vh 0vw;
    background: #c1c1c1;
}

#contactMe {
    color: snow;
    padding: 10vh 0vw;
}

.projectDiv {
    text-align: center;
    padding: 2%;
    margin: 3%;
    border-style: solid;
    border: 2em;
    border-color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    transition: 0.3s;
}

.projectDiv:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.projectImg {
    height: 85%;
    width: 85%;
}

.footer {
    margin-top: 10vh;
}